<%- include ('header'); %>

<h3 id="joueur"> Au joueur de placer une croix </h3>
<canvas id="canvas" width="500" height="500" style="background-color:black;"></canvas>
<a id="rejouer" href="game"> Rejouer !</a>


<%- include ('footer'); %>