<%- include ('header'); %>

<div id="body">
    <h1> Bienvenue sur Morpion Gaming ! </h1>

    <div id="button">
        <a href="page2"><button>JOUER</button></a>
    </div>
</div>

<%- include ('footer'); %>