<%- include ('header'); %>

<div id="body">
    <h1> Bienvenue sur Morpion Gaming ! </h1>

    <div id="button">
        <button href="page2">JOUER</button>
    </div>
</div>

<%- include ('footer'); %>