<%- include ('header'); %>


<div class="row">
    <div class="col text-center">
        <p> Pseudo joueur 1 : </p>
        <form action="joueur1" method="post">
            <input type="text" id="name" name="name" required minlength="1"
            maxlength="30" size="10" placeholder="Prénom">
            <br>
            <a href="joueur2"><input type="submit" id="bouton" value="Validez"></input></a>

        </form>
    </div>
</div>

<%- include ('footer'); %>