<%- include ('header'); %>


<div class="row">
    <div class="col text-center">
        <p> Quel est votre prénom ?</p>
        <form action="page2" method="post">
            <input type="text" id="name" name="name" required minlength="1"
            maxlength="30" size="10" placeholder="Prénom">
            <br>
            <input type="submit" id="bouton" value="Validez"></input>

        </form>
    </div>
</div>

<%- include ('footer'); %>